* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --animationDuration: 2s;
    --numberContainerSize: 70px;
    min-height: 100vh;
}

.countdown, .after-countdown {
    min-height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown.show {
    display: flex;
    width: 100vw;
}

.after-countdown {
    gap: 1rem;

}

.after-countdown.show {
    display: flex;
}

.number-container {
    width: 50vw;
    height: var(--numberContainerSize);
    overflow: hidden;
    position: relative;
}

.number-container .number {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    animation: number-rotate var(--animationDuration) forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 2.275);
    transform-origin: 0px calc(var(--numberContainerSize) - 10px);
    transform: rotate(95deg);
}

@keyframes number-rotate {
    0% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

